[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-mathfilters = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-email-verification = "*"
django-environ = "*"
stripe = "*"
yookassa = "*"
django-google-fonts = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"
django-celery = "*"
flower = "*"
django-celery-results = "*"
weasyprint = "*"
faker = "*"
django-htmx = "*"
sorl-thumbnail = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
psycopg2-binary = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
