[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-mathfilters = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-email-verification = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.8"
