{% extends 'base.html' %}

{% load static %}
{% load mathfilters %}

{% block content %}

<main class="pt-5">
  <div class="container">
    <h1 class="h5">My Shopping cart</h1>
    <hr />
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'shop:products' %}">Continue Shopping</a></li>
        <li class="breadcrumb-item active" aria-current="page">My Shopping cart</li>
      </ol>
  </nav>
    
    {% for item in cart %}
    {% with product=item.product %}

    <br />
    <div class="row mb-4 border product-item">
      <div class="col-md-3 col-lg-2 order-md-first bg-light">
        <img
          class="img-fluid mx-auto d-block"
          width="200px"
          alt="Responsive image"
          src="{{product.full_image_url}}"
        />
      </div>

      <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
        <a
          href="{{product.get_absolute_url}}"
          class="text-info text-decoration-none"
        >
          <h1 class="h5 pt-2">{{product.title}}</h1>
        </a>

        <div class="border">
          <div class="col border-bottom">
            <div class="row p-3">
              <div class="col-6">Product</div>
              <div class="col-6 text-end">
                {%if product.discount%}
                <span class="text-decoration-line-through fw-bold text-danger">$ {{product.price|mul:item.qty}}</span>
                <span class="h6 fw-bold">$ {{product.get_discounted_price|mul:item.qty}}</span>
                {% else%}
                <span class="h6 fw-bold">$ {{product.price|mul:item.qty}}</span>
                {% endif%}
              </div>
            </div>
          </div>

          <div class="col">
            <div class="row p-3">
              <div class="col-12">
                <label for="select">Quantity</label>

                &nbsp;
                <select id="select{{product.id}}">
                  <option selected>{{ item.qty }}</option>
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                </select>
                <br />
                <br />

                <button
                  type="button"
                  data-index="{{ product.id }}"
                  class="btn btn-primary btn-sm update-button"
                >
                  Update
                </button>

                &nbsp;
                <button
                  type="button"
                  class="btn btn-danger btn-sm delete-button"
                  data-index="{{ product.id }}"
                >
                  Delete
                </button>

              </div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    
    {% endwith %}
    {% endfor %}

    <div class="col-12 text-end">
      <div class="h6 fw-bold">
        Total: $
        <div id="total" class="d-inline-flex">
            {{ cart.get_total_price }}
        </div>
      </div>
        <button
            type="button"
            class="btn btn-danger btn-md clear-button mt-4"
            id="clear-cart-button"
        >
            <a class="nav-link text-white" href="#">Clear Cart</a>
        </button>

        <button
            type="button"
            class="btn btn-success btn-md text-bg-light mt-4"
            >
            <a class="nav-link text-decoration-none" href="{% url 'payment:checkout' %}">Checkout</a>
        </button>
    </div>
  </div>

  <br />
  <br />
</main>

<script>
    $(document).on('click', '.delete-button', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart:delete-from-cart" %}',
            data: {
                product_id: $(this).data('index'),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(response){
                document.getElementById('lblCartCount').textContent = response.qty
                document.getElementById('total').textContent = response.total

                location.reload()
            },
            error: function(error, status){
                console.log(error)
            }
        })
    });

    $(document).on('click', '.clear-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "cart:clear-cart" %}',
            data: {
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (response) {
                // Handle success, for example, remove elements from the page
                $('.product-item').remove();
                $('#total').text('$0');

                location.reload()
            },
            error: function (error, status) {
                console.log(error)
            }
        });
    });

    $(document).on('click', '.update-button', function(e){
        e.preventDefault();

        var product_id = $(this).data('index')

        $.ajax({
            type: 'POST',
            url: '{% url "cart:update-cart" %}',
            data: {
                product_id: $(this).data('index'),
                product_qty: $('#select'+product_id+ ' option:selected').text(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
                action: 'post'
            },
            success: function(response){
                document.getElementById('lblCartCount').textContent = response.qty
                document.getElementById('total').textContent = response.total

                location.reload()
            },
            error: function(error, status){
                console.log(error)
            }
        })
    });
</script>

{% endblock %}