{%  extends "base.html" %}

{% load static %}


{% block content %}

    <br>
    <div class="container bg-white shadow-md p-3">
        <h4>Welcome, {{ user.username }}!</h4>

        <hr>

        <h6>Personal information</h6>
        
        <br />
        <a href="{% url 'shop:products' %}">
            <button class="btn btn-success">
                Go to Home Page
            </button>
        </a>
        
        <a href="{% url 'account:profile-management' %}">
            <button class="btn btn-primary">
                Profile-management
            </button>
        </a>

        <a href="{% url 'account:logout' %}">
            <button class="btn btn-secondary">
                Logout
            </button>
        </a>

        <a href="{% url 'account:delete-user' %}">
            <button class="btn btn-danger">
                Delete Account
            </button>
        </a>

    </div>
{% endblock %}