{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-5 ">
            <div class="message-box _success">
                <i class="fa fa-check-circle" aria-hidden="true"></i>
                <h2> Your change-password instruction link has been successfully sent! </h2>
                <p> Please check your email for further instructions. </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
